@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("./style.css");

:root {
	--primary-color: #232324;
	--theme-color: #06cdff;
	--light-background: #ecebeb;
}

.container {
	width: 90%;
	margin: auto;
}

* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.4;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
}

.flex-spbtw {
	justify-content:space-between;
}

.flex-speven {
	justify-content: space-evenly;
}

.flex-col {
	flex-direction: column;
	justify-content: flex-start;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}


a {
	text-decoration: none;
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 0.3rem;
	box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
	padding: 1.25rem;
	margin: 0.6rem;
}

.btn {
	width: 100%;
	display: inline-block;
	padding: 0.6rem 2rem;
	cursor: pointer;
	background-color: var(--theme-color);
	border: none;
	border-radius: 0.4rem;
	font-size: 1rem;
	color: #fff;
}

/* Margins */
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}
.my-4 {
	margin: 4rem 0;
}

.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 2rem;
}
.m-3 {
	margin: 3rem;
}
.m-4 {
	margin: 4rem;
}

