

/* HEADER STYLING */
.header {
  padding: 15px 15px;
  height: 75px;
}

.header h1 {
  font-weight: 900;
}

.header span, 
.signinpage span { 
  color: var(--theme-color);
}

.login {
  width: 20%;
}

.login a {
  padding: 10px 5px; 
  color: var(--primary-color);
}

.login a:hover {
  color: var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
}

.signin {
  line-height: 0;
  margin-top: 15px;
}

/* Introduction section styling */
.intro {
  width: 100%;
  background-color: var(--light-background);
  height: 400px;
}

.introstatement{
  width: 51%;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.introstatement h1 {
  letter-spacing: 5px;
  align-items:baseline;
  margin-bottom: 50px;
  
}

.introstatement q {
  font-size: 700;
  font-style: italic;
  width: 200px;
  letter-spacing: 3px;
  line-height: 1.5;
}

.introimg {
  height: 400px;
}

/* browse */
.browse {
  background-color: #0b1464;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #e4e4e4;
  height: 50px;
}

.browse a{
  text-decoration: none;
  color: #e4e4e4;
}

.browse a:hover {
  color: var(--theme-color);
  
}

/* footer styling */

.footer {
  background-color: #ececec;
}

.footer .container {
  padding-top: 50px;
  width: 80%;
  align-items: flex-start;
}

.footer span {
  color: var(--theme-color);
}

.footer .organization
.footer address {
  align-items: center;
}

.footer .grid {
  gap: 50px;
}

.signinpage .card {
  width:450px;
  height: 450px;
  margin: auto;
  margin-top: 100px ;
}

.signinpage h2 {
  margin: 20px 60px;

}

.signinpage input {
  line-height: 40px;
  width: 90%;
  margin: 20px 0px;
  padding: 0px 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.signinpage label {
  font-size: large;
  margin: 30px 0px 20px 0px;
}

.signinpage input: